---
import MainLayout from "../../layouts/MainLayout.astro";
import Button from "../../components/Button.astro";
import Slideshow from "../../components/Slideshow.astro";

export async function getStaticPaths() {
  const behandlinger = await fetch(
    "https://zymhzxfscypovmtutfib.supabase.co/rest/v1/behandlinger",
    {
      headers: {
        apikey:
          "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5bWh6eGZzY3lwb3ZtdHV0ZmliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzM3MzI2OTcsImV4cCI6MjA0OTMwODY5N30.ZWO8J1GEX5z2Em66Apb2wdoYYIPKVJevYH1qrIgUDeM",
      },
    }
  ).then((res) => res.json());

  return behandlinger.map((behandling: any) => ({
    params: { slug: behandling.slug }, // [slug]=behandling.slug
    props: { behandling }, // send al data med som props
  }));
}

const { behandling } = Astro.props;
console.log("BEHANDLING", behandling);
---

<MainLayout>
  <section class="pil">
    <a href="/listview"><span style="font-size: 60px;">&#x2190;</span></a>
  </section>

  <section class="grid">
    <div class="tekst">
      <h2>{behandling.behandling}</h2>
      <p>{behandling.beskrivelse_lang}</p>
      <br />

      <div class="bold">
        <p class="detaljerp">{behandling.tid}</p>
        <p class="detaljerp">{behandling.enkeltbehandling}</p>
      </div>

      <p class="detaljerp">{behandling.flerbehandling}</p>
      <p class="detaljerp">{behandling.intro}</p>
    </div>
    <img src={`/images/${behandling.imgsingle}`} alt={behandling.behandling} />
    <div class="button">
      <Button variant="primary">BOOK TID</Button>
    </div>
  </section>
  <Slideshow />
</MainLayout>

<style>
  .pil {
    margin-top: 3rem;
  }
  a {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  .detaljerp {
    margin-top: 1rem;
  }
  .bold {
    font-weight: bold;
    margin-bottom: 2rem;
  }

  @media (max-width: 799px) /* Mobilestørrelse */ {
    img {
      margin: 1.5rem 0;
    }
    h2 {
      margin-top: 2rem;
    }
    .button {
      margin-bottom: 4rem;
      text-align: center;
    }
  }

  @media (min-width: 800px) /* computerstørrelse */ {
    section {
      margin: 2rem 3rem;
    }
    .grid {
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-template-rows: 1fr;
    }
    .tekst {
      grid-column: 2;
      grid-row: 1;
    }
    p {
      margin: 0 10%;
    }
    h2 {
      margin-bottom: 1.5rem;
    }
    .button {
      display: flex;
      align-items: flex-end; /* placerer knapperne i bunden */
      grid-column: 2;
      grid-row: 1;
      margin-bottom: 1.5rem; /* rykker knapperne opad */
      margin-left: auto;
      margin-right: auto;
      gap: 2rem; /* afstand mellem knapperne */
    }
    .img {
      grid-column: 1;
      grid-row: 1;
    }
  }
</style>
