---
import Button from "./Button.astro";

const { behandling, beskrivelse_kort, pris, imgsingle, imglist, slug } =
  Astro.props;
---

<li>
  <figure class="grid">
    <form class="tekst" action=`/product/${slug}`>
      <h2>{behandling}</h2>
      <p>{beskrivelse_kort}</p>
    </form>
    <form action=`/product/${slug}`>
      <img class="img" src={"/images/" + imglist} alt={imglist} />
    </form>
    <div class="button">
      <form action="https://strandgadefacecare.onlinebooq.dk" target="_blank">
        <Button variant="primary">BOOK TID</Button>
      </form>
      <form action=`/product/${slug}`>
        <Button variant="primary">LÆS MERE</Button>
      </form>
    </div>
  </figure>
</li>

<style>
  a {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  h2 {
    margin-bottom: 2rem;
    padding: 0;
  }

  .button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem; /* afstand mellem knapperne */
  }

  @media (max-width: 799px) /* Mobilestørrelse */ {
    img {
      margin: 1.5rem 0;
    }
    h2 {
      margin-top: 4rem;
    }
  }

  @media (min-width: 800px) /* computerstørrelse */ {
    li {
      margin: 8rem 0;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .tekst {
      grid-column: 2;
      grid-row: 1;
    }
    p {
      margin: 0 5%;
    }
    .button {
      grid-column: 2;
      grid-row: 1;
      margin-top: 20rem;
    }
    .img {
      grid-column: 1;
      grid-row: 1;
    }
  }
</style>
