---
import Button from "./Button.astro";

const { behandling, beskrivelse_kort, pris, imgsingle, imglist, slug } =
  Astro.props;
---

<li>
  <figure>
    <form class="grid" action=`/product/${slug}`>
      <div class="tekst">
        <h2>{behandling}</h2>
        <p>{beskrivelse_kort}</p>
      </div>
      <img class="img" src={"/images/" + imglist} alt={imglist} />
      <div class="button">
        <form action="https://strandgadefacecare.onlinebooq.dk">
          <Button variant="primary">BOOK TID</Button>
        </form>
        <form action=`/product/${slug}`>
          <Button variant="primary">LÆS MERE</Button>
        </form>
      </div>
    </form>
  </figure>
</li>

<style>
  a {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  @media (max-width: 799px) /* Mobilestørrelse */ {
    img {
      margin: 1.5rem 0;
    }
    h2 {
      margin-top: 2rem;
    }
    .button {
      margin-bottom: 4rem;
      text-align: center;
    }
  }

  @media (min-width: 800px) /* computerstørrelse */ {
    li {
      margin: 8rem 0;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .tekst {
      grid-column: 2;
      grid-row: 1;
    }
    p {
      margin: 0 10%;
    }
    h2 {
      margin-bottom: 1.5rem;
    }
    .button {
      display: flex;
      align-items: flex-end; /* placerer knapperne i bunden */
      grid-column: 2;
      grid-row: 1;
      margin-bottom: 1.5rem; /* rykker knapperne opad */
      margin-left: auto;
      margin-right: auto;
      gap: 2rem; /* afstand mellem knapperne */
    }
    .img {
      grid-column: 1;
      grid-row: 1;
    }
  }
</style>

<!-- <script>
  import { animate, scroll, inView } from "motion";

  scroll(animate(".grid", { opacity: [0.5, 1] }), {
    target: document.querySelector(".grid"),
    offset: ["start center", "end center"],
  });
</script> -->
