---
// const { variant, behandling } = Astro.props;
---

<li>
  <!-- <h1>{behandling.behandling}</h1> -->
  <!-- <a href={`/behandling/${behandling.slug}`}>
    <h3>{behandling.behandling}</h3>
    <h4>{behandling.pris}</h4>
     <img src={`/img/${artist.image}`} alt={artist.name} /> 
  </a> -->
</li>
